.home {
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
  background: url("../img/home.jpg") no-repeat fixed;
  background-position-x: center;

  &__box {
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);

    & > section {
      width: 100%;
      height: 100%;

      & > span {
        font-size: 3rem;
        color: #fff;
      }
    }

    &__title {
      width: calc(100% - 5px);
      word-break: break-word;
      text-align: center;
      color: #fff;
      font-size: 4rem;
      font-weight: 400;
    }

    &__btn {
      position: absolute;
      bottom: -7rem;
      left: 50%;
      transform: translateX(-50%);

      @include button(#fff);
    }
  }
}

@media (max-width: 1000px) {
  .home {
    max-height: none;
    background-position-x: left;
  }

  .navigation__logo {
    display: none;
  }
}
