.navigation {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;

  &__logo {
    width: 50%;
    & > img {
      cursor: pointer;
      width: 40%;
      height: 40%;
    }
  }

  &__links {
    list-style-type: none;
    display: flex;

    &__link {
      padding: 1.5rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
