.program-container {
  @include section;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.program {
  height: 100%;
  width: 100%;
  max-width: 1200px;

  &__title {
    & > h3 {
      margin-left: 100px;
      @include title();

      &::before {
        @include beforeTitle("Program");
      }
    }
  }

  &__timeline {
    width: 80%;
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .time-line-ctnr .time-line > li > .time-line-item .time {
    font-size: 17px;
  }

  .time-line-ctnr .time-line li span,
  .time-line-ctnr .time-line li div .time-line-header {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .program__title > h3 {
    margin-left: 0;
  }

  .program-container {
    max-height: none;
    height: auto;
    padding-bottom: 120px;
    margin: 0;
  }

  .program__timeline {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    .time-line-ctnr .time-line > li > .time-line-item .time {
      font-size: 20px;
    }

    .time-line-ctnr .time-line li span,
    .time-line-ctnr .time-line li div .time-line-header {
      font-size: 24px;
    }
  }
}
