@mixin title() {
  position: relative;
  color: #000;
  font-size: 3.5rem;
  line-height: 0;
}

@mixin beforeTitle($text) {
  overflow: hidden;
  content: $text;
  color: $green;
  position: absolute;
  left: 0;
  bottom: -1rem;
  font-size: 6rem;
  opacity: 50%;
  z-index: -1;
}

@mixin section {
  width: 100%;
}
