@charset 'UTF-8';

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// 1. Utils
@import "utils/queries", "utils/mixins", "utils/variables", "utils/effects";

// 2. Base stuff
@import "base/reset", "base/typography";

// 3. Components
@import "./components/button";

// 4. Layout-related sections
@import "./layout/navigation", "./layout/home", "./layout/about",
  "./layout/program", "./layout/organizers", "./layout/footer", "./layout/whyisworth";

// 5. Page-specific styles
